<div class = "container">
    <div class = "row heading">
        <div class="col-md-12">
            <img class="img-responsive" id="burgerlogo" src = "/models/public/assets/img/burger.png" width="200" height="200" alt="kawaii burger logo">
        </div>
    </div>

    <div class="row burgerDisplay">
        <div class="col-md-5" id="burgersToEat">
            <h2>Have a Kawaii burger!</h2>
            <ul class="list-group">
                {{#each burgers}} {{#unless this.devoured}}
                <li class="list-group-item uneaten">
                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <img class="img-responsive" src="/models/public/assets/img/sm-burger.png" alt="delicious burgers" align="left" />
                        {{this.burger_name}}
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="eatBurger">Eat it!!!</button>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        
    <div class="col-md-2" id="blank")
        <h3></h3>
    </div>

    <div class="col-md-5" id="burgersEaten">
        <h2>DEVOURED Burgers!</h2>
        <ul class="list-group">
            {{#each burgers}} {{#if this.devoured}}
            <li class="list-group-item eatem">
                <img class="img responsive" src="/models/public/assets/img/sm-burger.png" alt="delicous burger" align="left" />
                <span> {{this.burger_name}} </span>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>What chu want? (Add a burger)</h2>
            <form class="newBurger" action="burgers/new" method="POST">
                <div class="form-group">
                    <label for="burgerName" class="addNewBurger">Burger Name:</label>
                    <input type="text" id="burgerName" name="name" autofocus>
                </div>
                <button type="submit" class="button-add">Add your burger</button>
                </form>
        </div>
    </div>

</div>