<br><h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:black">Eat Da Kawaii Burger!</h1>
<br>

<div class = "row burger-info">
    <div class="col-xs-12 col-md-4">
        <ul>
            <h3>Burgers</h3>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <p>{{ burger_name }}
                    <button type="submit"data_id="{{this.id}}" class="btn btn-warning btn-xs" id="devour" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        DEVOUR YOUR BURGER!</button>
                </p></form>
            </li>
            {{/unless}}
        {{/each}}
        </ul>
    </div>

<div class="col-xs-12 col-md-4">
    <h4>Already DEVOURED Burgers</h4>
    <ul style="opacity: 0.5">
        {{#each burgers}}
            {{#if devoured}}
            <li><p>{{ burger_name }}</p></li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class = "col-xs-12 col-md-4">
    <form action-"/burgers/create" METHOD="POST">
        <label>Submit a Cute Burger!</label>
        <input name="new_burger" type="text" class="form-control">
        <br> 
        <button class="btn btn-warning" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">SUBMIT</button>
        </form>
</div>

</div>